@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300,400|Libre+Baskerville);
/*----- APP STYLES -----*/
html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Alegreya Sans';
    font-size: 18px;
}

#app {
    height: 100%;
}

h1 {
    color: #EC9787;
    font-size: 85px;
    text-decoration: none;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    line-height: 3;
    margin: 0;
    padding: 0;
    text-shadow: 1px 1px #944743;
    letter-spacing: 10px;
}

h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: 30px;
    line-height: 5px;
    padding-bottom: 0px;
    text-shadow: 1px 1px #944743;
}

h2:hover {
    color: #EC9787;
}

.background {
    /* path to background image */
    /* background-image: url('paciteria_background.jpg'); */
    background-image: url('background.jpg');
    /* background image: full-sized, centered and scaled appropriately  */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.modal {
    width: 500px;
    height: 400px;
    margin: 0 auto;
    background-color: white;
    opacity: 0.9;
    text-align: center;
    border-radius: 10px;
    position: relative;
    top: 10px;
}

/*----- LANDING PAGE STYLES -----*/
.logo {
    text-align: center;
    margin: 0px;
    padding: 40px;

}

.input-div {
    height: 74px;
    margin-top: 50px;
}

.input {
    width: 350px;
    padding: 25px;
    margin: 0 auto;
    text-align: center;
    border-width: 0px;
    border-radius: 10px;
    font-family: 'Alegreya Sans';
    font-size: 20px;
    background-color: #ffffff;
    opacity: 0.9;
}

input:required {
    border: 0px solid white;
    box-shadow: none;
}

.submit-button {
    background-color: #EC9787;
    border-radius: 10px;
    margin-left: 10px;
    border-width: 0px;
}

.submit-button:hover {
    background-color: darkgrey;
}

.location-output {
    padding: 0;
}

.location-item {
    list-style-type: none;
}

.location-button {
    padding: 0px;
    margin: 10px;
    font-family: 'Alegreya Sans';
    font-size: 18px;
    color: darkgrey;
    border: none;
    background: none;
    outline: none;
}

.current-location {
    font-style: italic;
    padding: 0px;
    margin-left: -270px;
    border: none;
    outline: none;
    background: none;
    font-weight: bold;
    font-family: 'Alegreya Sans';
    font-size: 18px;
    color: white;
    text-shadow: 1px 1px #944743;
}

.location-button:hover, .current-location:hover {
    color: #EC9787;
    font-weight: bold;
}

.location-modal {
    height: 210px;
}

/*----- RESULTS PAGE STYLES -----*/
.fa {
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 5px;
}

.results-container {
    width: 98%;
    height: 400px;
    overflow-y: scroll;
    margin: 0 auto;
}

.result-item {
    width: 80%;
    height: 150px;
    margin-bottom: 10px;
    text-align: left;
}

.result-image {
    height: 90%;
    width: auto;
    margin-left: 10px;
    margin-right: 25px;
    padding-top: 7.5px;
}

.result-col {
    display: inline-block;
}

.result-spec {
    margin: 0;
    padding: 0px;
    padding-bottom: 10px;
}

.neighborhood {
    font-style: italic;
    font-size: 15px;
    padding-bottom: 20px;
}

.distance {
    font-size: 30px;
    line-height: 30px;
    padding: 10px;
    padding-top: 50px;
    padding-bottom: 0px;
}

.distance-col {
     text-align: right;
     float: right;
     padding-right: 25px;
}

.duration {
    padding: 10px
}
