.landing {
    /* path to background image */
    background-image: url('img/paciteria_background.jpg');
    /* background image: full-sized, centered and scaled appropriately  */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .modal {
        width: 40%;
        height: 30%;
        margin: 0 auto;
        background-color: white;
        opacity: 0.8;
    }
}
